body{
    margin: 0px;
}
.top_bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distributes space between the items */
    height: fit-content;
}
.logo{
    display: inline-block;
    padding-left: 20px;
}
.img_logo{
    border-radius: 30px;
    height: 60px;
    vertical-align: middle;
}
.logo_title{
    font-family: "Wittgenstein";
    font-weight: bolder;
    font-style: italic;
    font-size: 25px;
    color: #2170F3;
    display: inline-block;
    vertical-align: middle;
}
.button{
    display: flex;
    justify-content: space-between; /* Distributes space between the items */
    align-items: center;
    padding-right: 20px;
}
.buttons{
    border: 0px;
    font-size: 15px;
    font-family: "Wittgenstein";
    font-weight: bolder;
    font-style: italic;
    background-color: white;
    padding-right: 30px;
}
.button_download{
   font-size: 15px;
   font-family: "Wittgenstein";
   font-weight: bold;
   background-color: #2170F3;
   color:white;
   border: none;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 20px;
   object-position: center;
    cursor:pointer;
}
.what_is{
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-around; /* Distributes space between the items */
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;

}
.know_more{
    display: flex;
    justify-content: space-around; /* Distributes space between the items */
    align-items: flex-start;
    background-color: #f8f8f8;

}
.know_more_text{
    margin: 0px;
    font-family: "Wittgenstein";
    font-weight: bolder;
    font-style: italic;
    font-size:40px;
    color: #2187f3;
    vertical-align: middle;
}
.what_is_text{
    width: 1000px;
}
.title{
    font-family: "Wittgenstein";
    font-weight: bolder;
    font-style: italic;
    font-size:40px;
    color: #2187f3;
    display: inline-block;
    vertical-align: middle;
    display: inline-block;
}
.descrip{
    font-family: "Wittgenstein";
    font-weight: normal;
    font-style: italic;
    font-size:25px;
}
.download{
    font-size: 15px;
    font-family: "Wittgenstein";
    font-weight: bold;
    background-color: #2170F3;
    color:white;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    object-position: center;
     cursor:pointer;
}
.what_is_video{
    display: flex;
    justify-content: center; /* Distributes space between the items */
    padding-top: 40px;
}
.video_1{
    width: 80%;
}
.stunning_video{
    display: flex;
    justify-content: space-between;
    padding-left: 20px; /* Distributes space between the items */
    padding-top: 20px;
}
.stunning_text{
    width: 1200px;
    padding-right: 20px;
}
.stunning{
    display: flex;
    justify-content: space-around; /* Distributes space between the items */
    align-items: flex-start;

    padding-top: 20px;
    padding-bottom: 10px;    
}

